* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
nav ul,
nav a {
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
}
nav a {
    padding: 18px;
    font-size: 13px;
}
nav ul {
    display: flex;
}
header {
    display: flex;
    background-color: #6c6c6c;
}
#desc img {
   padding-top: 50px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #9d9d9d;
    width: 50%;
    padding-bottom: 30px;
}
#desc .macbook {
    padding-top: 50px;
    color: #bf4800;
    font-weight: bold;
}
#desc h1 {
    margin: 0;
    padding-top: 15px;
    width: 160px;
    text-align: center;
    line-height: 25px;
    font-size: 28px;
}
#desc h3 {
    margin:0;
    padding-top: 15px;
    font-weight: lighter;
    max-width: auto;
    text-align: center;
    line-height: 29px;
    letter-spacing: 0.001em;
    font-size: 19px;
}
#desc a {
    padding-top: 20px;
    text-decoration: none;
    color: #0066cc;
    margin-left: auto;
}
#desc .m2:hover {
    text-decoration: underline;
}
#especific .tela {
    padding-top: 50px;
}
.tela span {
    font-size: 19px ;
}
.tela h4 {
    font-size: 23px;
    text-align: center;
    margin: 0;
    
}
.chip {
    width: 121px;
    padding-top: 50px;
}
.chip img{
    margin: 0px 40px;
    max-width: 50px;
    max-height: 50px;
}
.chip p {
    text-align: center;
    margin: 0;
    padding-top: 2px;
    font-size: 0.97em;
}
.cpu {
    padding-top: 50px;
    width: 121px;
    text-align: center;
}
.cpu p {
    margin: 0;
    font-size: 19px;
}
.cpu h4 {
    font-size: 23px;
    margin: 0;
}
.gpu h4 {
    font-size: 22px;
}
.memoria {
    padding-top: 50px;
    width: 121px;
}
.memoria img {
    max-width: 50px;
    height: 50px;
    margin: 0px 40px;
}
.memoria p {
    font-size: 14px;
    text-align: center;
    line-height: 1.25em;
    padding-top: 2px;
    margin:0;
}
.espaco {
    padding-top: 50px;
    width: 150px;
}
.espaco h4 {
    text-align: center;
    font-size: 22px;
    margin: 0;
}
.espaco p {
    font-size: 14px;
    text-align: center;
    margin:0;
    line-height: 1.25em;
}
.bateria {
    max-width: 121px;
    padding-top: 50px;
}
.bateria img {
    width: 50px;
    height: 50px;
    margin: 0px 40px;
}
.bateria p {
    font-size: 14px;
    text-align: center;
    line-height: 1.25em;
    padding-top: 2px;
    margin: -10px;
}
.facetime {
    width: 121px;
    padding-top: 50px;
}
.facetime img {
    width: 50px;
    height: 50px;
    margin: 0px 40px;
}
.facetime p {
    font-size: 14px;
    text-align: center;
    margin:0;
    line-height: 1.25em;
    margin: -5px;
}
.sound {
    width: 160px;
    padding-top: 50px;
}
.sound img {
    width: 43px;
    height: 44px;
    margin: 0px 65px;
}
.sound p {
    font-size: 14px;
    text-align: center;
    margin:0;
    line-height: 1.25em;
}
.peso {
    width: 121px;
    padding-top: 50px;
}
.peso h4 {
    text-align: center;
    font-size: 26px;
    margin: 0;
}
.peso p {
    text-align: center;
    font-size: 14px;
    margin: 0;
}
.touch {
    width: 121px;
    padding-top: 50px;
}
.touch img {
    margin: 0px 40px;
}
.touch p {
    text-align: center;
    font-size: 14px;
    margin: 0;
}